package ${table.getJavaMapperPackage()};

import com.sgai.core.base.mapper.BaseMapper;
import com.sgai.core.base.repository.BaseRepository;
import ${table.getEntityPackage()}.${table.getEntityName()};

/**
 * @ClassName:   ${table.getEntityName()}Mapper
 * @Description: ${table.getTableDesc()}---数据访问层
 * @author:      ${Author}
 * @version:     ${Version}
 * @date:        ${Date}
 */
 
@BaseRepository
public interface ${table.getEntityName()}Mapper extends BaseMapper<${table.getEntityName()}> {

}
