package ${table.getServicePackage()};

import com.sgai.core.base.service.BaseService;
import ${table.getEntityPackage()}.${table.getEntityName()};

/**
 * @ClassName:   ${table.getEntityName()}Service
 * @Description: ${table.getTableDesc()}---服务层
 * @author:      ${Author}
 * @version:     ${Version}
 * @date:        ${Date}
 */
 
public interface ${table.getEntityName()}Service extends BaseService<${table.getEntityName()}> {

}

