package ${table.getServicePackage()};

import java.util.List;
import com.sgai.core.base.service.BaseService;
import ${table.getEntityPackage()}.${table.getEntityName()};

/**
 * ${table.getEntityName()}Service ${table.getTableDesc()}
 * @author ${Author}
 * @version ${Version}
 * @date ${Date}
 */
 
public interface ${table.getEntityName()}Service extends BaseService<${table.getEntityName()}> {
	public List<${table.getEntityName()}> findTree(Map<String,Object> params);
}

